@charset "UTF-8";

#section1{
    display: flex;
    flex-direction: column;
}
P{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-decoration: overline;
}
